{% extends "base.html" %}
{% block message %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{url_for('post_list')}}" class="nav-link">글 목록 보기</a></li>
            </ul>
  </div>
</nav>
{% endblock message %}
{% block contents %}
 <section class="breadcrumb-option spad set-bg" style="background-color: mistyrose;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">

                        <h2>게시물 내용</h2>
                        <div class="breadcrumb__links">

                            <span>게시물 내용입니다</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <div class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bk.png'); background-attachment:fixed;height:150px;">
      <div class="overlay">
      <div class="container">
    </div>
      </div>
 </div>

<section style="background-color: #FCE4EC;">
    <br><br>
<div class="detail_box"; style="width: 70%; margin: 0% 15%;text-align: center; border: 2px solid #999;">
    <div class="detail_box_title">
        <h1>{{post.title}}</h1>
    </div>
    <div class="detail_box_uid"; style=" letter-spacing: 2px; text-align:right; margin-top: 3%;">
        <h5>작성자: {{post.uid}}</h5>
    </div>
    <div class="detail_box_contents"; style="text-align: left; margin-top: 5%; margin-left: 10%;    margin-right: 10%;">
        <h3>{{post.contents}}</h3>
    </div>
    <div class="detail_box_image" style=" padding-bottom:1%;">
        <p><img src="{{image}}" ,align=left; style="width: 230px; height: 230px;
   "></p>
    </div>

</div>
    <br>
<div class="detail_delete_edit"; style=" text-align: right; padding-right: 14%;  margin-bottom: 3%;">
        <form action="{{url_for('edit_post',pid=post_id)}}">
            <button type="submit", style="background-color: #EF5350; border-top-left-radius:10px;
border-bottom-left-radius:10px;border-top-right-radius:10px;
 border-bottom-right-radius:10px;font-size:20px;width:300px"><b>EDIT</b></button>
    </form>
    <br><form action="{{url_for('delete_post',pid=post_id)}}">
            <button type="submit", style="background-color: #EF5350; border-top-left-radius:10px;
border-bottom-left-radius:10px;border-top-right-radius:10px;
 border-bottom-right-radius:10px;font-size:20px;width:300px"><b>DELETE</b></button>
    </form></div>
<br><br>
</section>

{% endblock contents %}